# ==============================================================================
#  # BartoAI
# ==============================================================================
#  Abschnitt . . : Tooling/DBTicker
#  Datei . . . . : requirements.text
#  Autor . . . . : Bartosz Stryjewski
#  Erstellt am . : 21.04.2026
# ------------------------------------------------------------------------------
#  Beschreibung  : Project requirements for DBTicker
# ------------------------------------------------------------------------------
#  (C) Copyright 2026 Bartosz Stryjewski
#  All rights reserved
# ==============================================================================
#
deutsche-bahn-api>=1.1.0
requests>=2.32.0
python-dotenv>=1.0.0
python-dateutil>=2.9.0
setuptools<70   # für mpu (legacy dep, braucht pkg_resources)
tomli-w>=1.0.0